/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #666;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* styles.css */

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
